.git
.github
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.egg-info/
dist/
build/
*.egg
.pytest_cache/
.mypy_cache/
notebooks/
notebook/
frontend/
*.ipynb
*.md
!README.md
data/raw/*
data/processed/*
