version: '3.8'

services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./data/train:/app/data/train  # Para persistir datos de entrenamiento
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
